body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, p, .text-field, label {
  padding: 5px;
  padding-left:10px;
}

md-outlined-text-field, md-filled-button, form {
  padding: 10px;
}

md-filled-button {
  left: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-by-side {
    display: inline-block;
    margin-right: 10px;
}

.cg_shapes {
  position: absolute;
  height: 392px;
  width: 392px;
  float: left;
  left: 0px;
}

